.section {
  padding: var(--header-height) 0;
  text-align: center;
}

.section__title {
  display: inline-block;
  color: var(--primary-color);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-black);
  margin-bottom: var(--spacing-2);
  position: relative;
}

.section__title::after {
  content: '';
  display: block;
  width: 120%; /* 제목 길이의 120% */
  height: 0.25rem;
  background-color: var(--primary-color);
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  transform: translateX(-50%); /* 가운데 정렬 */
}
